<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberboard">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into members_table(memberEmail, memberPassword, memberMobile, memberProfile)
            value (#{memberEmail},#{memberPassword},#{memberMobile},#{memberProfile})
    </insert>
    <insert id="saveFile" parameterType="memberFile">
        insert into member_file_table(originalFileName, storedFileName, memberId)
            value (#{originalFileName},#{storedFileName},#{memberId})
    </insert>
    <select id="loginMember" parameterType="member" resultType="member">
        select *
        from members_table
        where memberEmail = #{memberEmail}
          and memberPassword = #{memberPassword}
    </select>
    <select id="memberList" parameterType="java.util.HashMap" resultType="member">
        select *
        from members_table
        order by id asc limit #{start}, #{limit}
    </select>
    <select id="memberCount" resultType="Integer">
        select count(id)
        from members_table
    </select>
    <select id="memberSearch" parameterType="java.util.HashMap" resultType="member">
        select *
        from members_table
        where ${type} like concat('%', #{q}, '%')
        order by id asc limit #{start}, #{limit}
    </select>
    <select id="searchCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(id)
        from members_table
        where ${type} like concat('%' ,#{q}, '%')
    </select>
    <select id="findById" parameterType="Long" resultType="member">
        select *
        from members_table
        where id = #{memberID}
    </select>
    <insert id="boardsave" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into memberBoard_table(boardTitle, boardWriter, boardContents, memberId, fileAttached)
            value (#{boardTitle},#{boardWriter},#{boardContents},#{memberId},#{fileAttached})
    </insert>
    <insert id="boardSaveFile" parameterType="boardFile">
        insert into memberBoard_file_table(originalFileName, storedFileName, boardId)
            value (#{originalFileName},#{storedFileName},#{boardId})
    </insert>
    <select id="boardList" parameterType="java.util.HashMap" resultType="board">
        select *
        from memberBoard_table
        order by id asc limit #{start}, #{limit}
    </select>
    <select id="boardCount" resultType="Integer">
        select count(id)
        from memberBoard_table
    </select>
    <select id="boardSearchList" parameterType="java.util.HashMap" resultType="board">
        select *
        from memberBoard_table
        where ${type} like concat('%', #{q}, '%')
        order by id asc limit #{start}, #{limit}
    </select>
    <select id="boardSearchCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(id)
        from memberBoard_table
        where ${type} like concat('%', #{q}, '%')
    </select>
    <update id="updateHits" parameterType="Long">
        update memberBoard_table set boardHits = boardHits+1 where id=#{id}
    </update>
    <select id="boardDetail" parameterType="Long" resultType="board">
        select * from memberBoard_table where id=#{id}
    </select>
    <select id="findFile" parameterType="Long" resultType="boardFile">
        select * from memberBoard_file_table where boardId = #{boardId}
    </select>
    <select id="boardComment" parameterType="Long" resultType="comment">
        select * from member_board_comment_table where boardId=#{id} order by id asc
    </select>
    <insert id="commentSave" parameterType="comment">
        insert into member_board_comment_table(commentWriter,commentContents,boardId)
            values (#{commentWriter},#{commentContents},#{boardId})
    </insert>
    <delete id="boardDelete" parameterType="Long">
        delete from memberboard_table where id = #{boardId}
    </delete>
    <select id="findByBoard" parameterType="Long" resultType="board">
        select * from memberboard_table where id = #{boardId}
    </select>
    <update id="updateBoard" parameterType="board">
        update memberboard_table
        set boardTitle    = #{boardTitle},
            boardContents = #{boardContents}
        where id = #{id}
    </update>
</mapper>